body  {
  
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  background-image: url("tweed.png");
  color: white;
  
  
}

div {
  border: 2px solid white;
  margin: 10px;
  padding: 10px;

}

.navbar-header {
  color: blue;
}