<h1> Shoes </h1> 

<% @products.each do |product| %>

<div>

      
    <p> Name: <%= link_to product.name, "/products/#{product.id}" %> </p> 
    <p> Price: <%= product.price %> </p> 
    <p> <img src= "<%= product.image %>"> </p> 
    <p> Description: <%= product.description %> </p> 
</div>

<% end %> 


